Temp/UnityLockfile
Temp/*
obj/*
Library/*
!Library/UnityAssemblies/*
/raw assets
/build
/Assets/UnityVS*
*Debug/
*.suo
*.sln
*.unityproj
*.DotSettings
*.unitypackage
*Inventory.xml
Assets/Filename.xml
Assets/Filename.xml.meta
PlayerSettings.xml
*Backup*
